nav.navbar.navbar-default.navbar-static-top.nav-height
    .nav-header-items
        .navbar-header
            button.hamburger.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                .col-xs-12
                    span.hamburger-text Menu
            a.navbar-brand(href='/')
                //h2 CodeCampChallenges
                .home-top-logo
        .collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right.hamburger-dropdown
                if !user
                    li
                        a.top-nav-text(href='/user-guide') Instructions
                    li
                        a.top-nav-text(href='/signup') Sign Up
                    li
                        a.top-nav-text(href='/email-signin') Sign In
                    

                else
                    li
                        a.top-nav-text(href='/user-guide') Instructions
                    li.avatar-points
                        span.brownie-points-nav
                          span.hidden-md.hidden-lg #{user.username}
                          span.brownie-points [&thinsp;#{user.points}&thinsp;]
                        span.hidden-xs.hidden-sm.avatar
                          img.profile-picture.float-right(src='#{user.picture}')
                          
