@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,600');

@media (min-width: 0px) and (max-width: 780px) {
  .small-screen-msg {
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    background: url('http://www.rspb.org.uk/community/resized-image.ashx/__size/550x0/__key/telligent-evolution-components-attachments/13-12261-00-00-00-77-29-48/500x500.gif');
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    background-color: white;
    z-index: 99999;
  }

  .small-screen-img-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    text-align: center;
    line-height: 100vh;
  }
}
/*@media only screen and (min-width: 801px) {
  .small-screen-msg {
    display: none;
  }
}*/


/*.nav-header-items {
  max-width: 1000px;
  margin: 0 auto;
}*/

.home-top-logo {
  width: 400px;
  height: 35px;
  background: url('../images/home-top-logo.png');
  background-repeat: no-repeat;
  background-position: center;
}

/*.top-nav-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px !important;
  font-weight: 100;
}*/


.banner-img {
  position: absolute;
  width: 100%;
  height: 30vh;
  top: 50px;
  left: 0;
  z-index: -1;
  background: url('../images/home-banner.png');
  background-repeat: no-repeat;
  /*background-size: 130vw auto;*/
  background-size: cover;
  background-position: center;
}


.middle-item-list {
  display: flex;
  justify-content: center;
}


@media only screen and (min-height: 600px) {
  .middle-item {
    margin-top: 10%;
  }
}
@media only screen and (min-height: 700px) {
  .middle-item {
    margin-top: 10%;
  }
}
@media only screen and (min-height: 800px) {
  .middle-item {
    margin-top: 15%;
  }
}
@media only screen and (min-height: 900px) {
  .middle-item {
    margin-top: 17.5%;
  }
}

.middle-item img {
    width: 125px;
    height: auto;
}
@media only screen and (min-height: 600px) {
  .middle-item img {
    width: 90px;
    height: auto;
  }
}
@media only screen and (min-height: 700px) {
  .middle-item img {
    width: 110px;
    height: auto;
  }
}
@media only screen and (min-height: 720px) {
  .middle-item img {
    width: 120px;
    height: auto;
  }
}
@media only screen and (min-height: 800px) {
  .middle-item img {
    width: 140px;
    height: auto;
  }
}

.middle-item p {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 25px;
  margin-top: 10px;
  color: #265ea3;
}


.register-btn a {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 100;
  background-color: #265ea3;
  color: #fff;
  border-radius: 20px;
  padding: 5px 30px;
  margin-top: 5%;
}
@media only screen and (min-height: 600px) {
  .register-btn a {
    margin-top: 2%;
  }
}
@media only screen and (min-height: 740px) {
  .register-btn a {
    margin-top: 5%;
  }
}
@media only screen and (min-height: 900px) {
  .register-btn a {
    margin-top: 10%;
  }
}


.bottom-banner-img {
  position: absolute;
  width: 100%;
  height: 30vh;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: url('../images/home-bottom.png');
  background-repeat: no-repeat;
  /*background-size: 130vw auto;*/
  background-size: cover;
  background-position: center bottom;
}


.form-horizontal .form-group
{
    margin-left: 0 !important;
    margin-right: 0 !important;
    width:100%;
}
.form-horizontal .input-group-addon{
    padding:0;
}
