extends layout
block content
    .text-center
        .banner-img
        .row.middle-item-list
            .col-xs-12.col-sm-12.col-md-3.middle-item.middle-item-
                img.img-responsive.landing-icon.img-center(src= '../images/middle-icon1.png', alt='')
                p.large-p
                    |Learn<br />the basics
            .col-xs-12.col-sm-12.col-md-3.middle-item
                img.img-responsive.landing-icon.img-center(src= '../images/middle-icon2.png', alt='')
                p.large-p
                    |Solve<br />given challenges
            .col-xs-12.col-sm-12.col-md-3.middle-item
                img.img-responsive.landing-icon.img-center(src= '../images/middle-icon3.png', alt='')
                p.large-p
                    //a(href='/stories') 2,000+
                    |Prove<br /> you are the best
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2.register-btn
                a.btn(href="/signup") REGISTER NOW
        script.
            challengeName = 'Home'
        .bottom-banner-img