extends layout
block content
    .text-center
        .row
            h1.landing-heading Learn to code and help nonprofits
            .big-break
            .big-break
            .big-break
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_connect.svg', alt='Get great references and connections to start your software engineer career')
                p.large-p
                    a(href='/map') 17,000,000+
                    | &thinsp;coding challenges solved
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_nonprofits.svg', alt='Help nonprofits with bro bono code projects')
                p.large-p
                    a(href='/nonprofits') $1,000,000+
                    | &thinsp;in donated development work
            .col-xs-12.col-sm-12.col-md-4
                img.img-responsive.landing-icon.img-center(src= 'https://s3.amazonaws.com/freecodecamp/landingIcons_portfolio.svg', alt='Get hired as a developer and start your software engineer career')
                p.large-p
                    a(href='/stories') 2,000+
                    | &thinsp;people like you now have developer jobs
        .big-break
        .big-break
        .row
            .col-xs-12.col-sm-8.col-sm-offset-2
                a.btn.btn-cta.signup-btn.btn-block(href="/signup") Start coding (it's free)
        .spacer


