Welcome to CodeCampChallenge
<br>
<br>
Please verify your email by following the link below:
<br>
<br>
<a href="<%= verifyHref %>"><%= verifyHref %></a>
<br>
<br>
Good luck with the challenges!
<br>
<br>
<br>
- the CodeCampChallenge Team.
